/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html {
	background: #FFFEF8;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	margin: 0 px;
	font-size: 16px;
}

li:hover {
	color: #B1663C;
}

header nav a, 
header nav button {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	margin: 0 22px;
}

header nav button {
	border: none;
	background: none;
}

#logoInsa {
	width: 22px;
	height: 22px;
	margin-left: 22px;
	flex-shrink: 0;
}

#loginBold {
	font-weight: 600;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#editGalleryButton {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: none; 
    border: none;     
    cursor: pointer;  
	margin-top: 0.5rem;
}

#editGalleryButton svg {
	color: #000;
	width: 15.58px;
	height: 15.58px;
	flex-shrink: 0;
	margin-left: 1.5rem;
	margin-right: 0.5rem;
}

#projets {
	display: flex;
	justify-content: center;
	margin: 139px 0 55px 0;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 45px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* Style pour les filtres de la galery */

.filters {
    justify-content: center;
}

.filters button {
    margin: 0 5px;
    padding: 10px 25px;
    color: #1D6154;
    cursor: pointer;
    border-radius: 60px;
	border: 1px solid #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-color: #FFF;
}

.filters button.active,
.filters button:hover {
    background-color: #1D6154;
	color: #FFF;
}


/* Style pour la page de login */
#login {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

#login h2 {
    margin-bottom: 37px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login label {
    width: 100%;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: left;
}

#login input[type="email"],
#login input[type="password"] {
    width: 365px;
    padding: 0 15px;
    margin-bottom: 30px;
	background-color: #FFF;
}

#login input[type="submit"] {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
	width: 180px;
    border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 7px 0 28px 0 ;
}

#login input[type="submit"]:hover {
    background-color: #0c4836;
}

.forgot-password {
    color: #3D3D3D;
    font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Style de la modale galerie photo */

.modal-vue{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.modal-header {
	display: flex;
	width: 100%;
	justify-content: center;
	position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
	border-radius: 10px; /* Ajout d'un bord arrondi */
    border: 1px solid #888;
    width: 630px;
	height: 688px;
}

.modal-content h2 {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 60px;
}
.modal-gallery {
	margin: 45px 96px;
	
}

.modal-gallery img {
    width: 77px;
    height: 103px;
    object-fit: cover; /* Pour s'assurer que l'image conserve son aspect tout en remplissant la taille spécifiée */
}

.close,
.close2 {
    color: black;
    width: 24px;
	height: 24px;
	position: absolute;
    top: 26px;
    right: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Conteneur de chaque image et son bouton de suppression */
.image-container {
    position: relative;
    display: inline-block;
    margin: 12px 5px;
}

.delete-button {
    background-color: black; /* Assure que le fond est noir */
    border: none; /* Supprime les bordures */
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    padding: 2px 4px;
	width: 17px; 
    height: 17px;
	position: absolute;
    top: 5px;
    right: 5px;
	border-radius: 2px; /* Ajout d'un bord arrondi */
}

.delete-button svg {
    width: 9px; 
    height: 11px;
    fill: white; 
}

/* Style de la modale */

#back-to-gallery {
	width: 21px;
	height: 21px;
	flex-shrink: 0;
	background: none;
	padding: 0;
	border: none;
	position: absolute;
    top: 26px;
    left: 30px;
}

#add-photo-form {
	margin-top: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ajoutPhoto-group {
	border-radius: 3px;
	background: #E8F1F6;
	width: 420px;
	height: 169px;
	flex-shrink: 0;
	position: relative
}

.ajoutPhoto-group svg {
margin-top: 13px;
margin-bottom: 6px;
}

.ajoutPhoto-group small {
	margin-top: 7px;
	color: #444;
	text-align: center;
	font-family: "Work Sans";
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#cacher-ajoutPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#titreEtCategorie {
	width: 420px;
}

#loginForm label,
#loginForm input,
.titre-group label, 
.titre-group input, 
.categorie-group select, 
.categorie-group label {
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.titre-group label,
.categorie-group label {
	margin-bottom: 10px;
}

.titre-group input, 
.categorie-group select {
	padding: 0 16px;
}

.titre-group {
	margin-top: 30px;
}

#title,
#categoryId,
#email,
#password {
	height: 51px;
	background-color: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
}

.categorie-group {
	margin-top: 21px;
	margin-bottom: 17px;
}

.titre-group,
.categorie-group {
	display: flex;
	flex-direction: column;
}


.file-upload {
	color: #306685;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 173px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 50px;
	background: #CBD6DC;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.file-upload:hover {
	background-color: #74809e; /* Changement de couleur au survol */
}

#addPhotoButton {
	background: #1D6154;
	margin-top: 10px;
}

#addPhotoButton, 
.validate-button {
	width: 237px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 60px;
	border: none;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#preview-container {
	width: 127px;
	height: 169px;
	flex-shrink: 0;
	position: absolute;
	top: 0px;
    left: 150px;
	display: none;
}

#preview-container img{ 
	max-width: 100%; 
	height: auto;
	cursor: pointer;
}

.validate-button {
	background: #A7A7A7;
	margin-top: 12px;
}

.validate-button:hover {
	background-color: #1D6154; /* Changement de couleur au survol */
}

hr.separator {
	width: 420px;
	height: 1px;
	background-color: #B3B3B3; 
	border: none; /* Supprimer les bordures par défaut */
	margin: 20px auto; /* Centrer et ajouter un espacement autour */
}

.cacher {
    display: none;
} 